<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Book Store</h1>
    </header>
<nav class="custom-navbar">
      <div class="d-flex align-items-right">
        <a class="navbar-brand d-flex align-items-right" href="/">
          <img src="{% static 'myimage/logo.png' %}" alt="Logo" width="50" height="50" class="me-1">
          <span style="font-size:1.7rem;font-weight:500;color:#7ec6e3;">BookStore</span>
        </a>
        <ul class="navbar-nav flex-row ms-2">
          <li class="nav-item">
            <a class="nav-link active" href="/about"><b>About us</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><b>Books</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><b>Contact us</b></a>
          </li>
        </ul>
      </div>
 </nav>
    <footer>
        <p>&copy; 2024 Book Store</p>
    </footer>
</body>
</html>